body{background: url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg);
background-repeat: repeat;}

H1{font-family: 'Black Han Sans', sans-serif; 
color: rgb(122, 0, 0);
background-color: white; 
border: 10px solid rgb(116, 6, 6); 
padding: 1px; 
width: 300px; 
text-align: center;
margin-left: auto;
margin-right:auto}

.portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 3px solid white;

.div{color:red}

.code{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 3px solid white;
}
H4{font-family: 'Black Han Sans', sans-serif; text-align: center; text-align: center; color: rgb(255, 255, 255)
}